*{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

#logopri{
	width: 130px;
	height: 50px;
	padding: 0;
}

.navbar-brand{
	padding-top: 0;
}


.navbar {
	background-color: #222222 !important;
	font-family: 'Tahoma', Arial, sans-seriff;
	font-weight: 700;
}
.navbar a {
	color: #fff !important
	opacity: 0.5;
}
.navbar a:hover{
	opacity: 1;
	background-color: #111111 !important;
}

.header {
	height:600px;
	width: 100%;
	padding: 30px 0 30px;
	margin-top: 50px;
	background-image: url("../imagenes/back.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}
.header img {
	height: 350px;
	width: 450px;
	margin-top: 70px 0 0 40px;
}
.header h1{
	font-size:40px;
	font-weight: 700;
	padding-top:30px;
}
.header h1,
.header p,
.header button {
	margin-top: 20px; 
}
.header .btn {
	border-radius: 0;
	margin: 40px 20px;
}

@media screen and (max-width: 768px) {
	.header{
		padding: 30px;
		height: 750px;

	}
	
	.header img {
		width: 90%;
		height:300px;
		margin:20px 0 0 20px;
	}
	.header .btn {
		font-size: 10px;
		margin-left:20px;
	}
	.header h1 {
		font-size: 20px;
	}
	.header p {
		font-size: 10px;
	}
}


.services {
	padding: 80px 0 80px;
	text-align: center;

}

.services h1, .services h2
{
	color: #4c4c4c;
	margin:20px 0 20px;
}
.services p {
	color: #737373;
	font-size: 14px;
	padding-bottom: 40px;
}
.services i {
	height: 80px;
	width: 80px;
	font-size: 30px;
	padding: 25px 20px;
	border-radius: 50%;
	background-color:#222222;
	color: #fff;
}

@media (max-width: 786px){
	.services {
		padding: 30px;

		
	}
}

/*pricing*/
.pricing {
	padding: 50px 0 80px;
	text-align: center;
	background-color: #222222;
}

.pricing h2, .pricing p {
	color:#fff;
}
.pricing p {
	padding-bottom: 40px;
}
.pricing .packages {
	padding: 30px;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 30px;	
}
.packages li {
	display: block;
	padding: 5px;

}

.packages h4, .packages h1, .packages b {
	color:#4c4c4c;

}
.packages p, .packages li {
	color:#737373;

}
.packages button {
	margin-top: 10px;
}

@media(max-width: 768px){
	.pricing {
		padding: 30px;

	}
	.packages{
		width: 80%;
		margin-left: 25px;
	}
}

/*team*/
.team {
	padding: 50px 0 80px;
	text-align: center;
}
.team b,
.team h2,
.team h4 {
	margin:20px 0 20px;
	color: #4c4c4c;

}
.team p {
	color: #737373;

}
.team img {
	height: 150px;
	width: 150px;
	margin-top: 80px;
}
.team i {
	height: 30px;
	width: 30px;
	padding: 5px;
	font-size: 17px;
	border-radius: 50%;
	background-color: #a8db8e;
	color: #FFF;
}

.team a:hover i {
	background-color: #709963;
}

/* clients*/

.clients {
	padding: 50px 0 80px;
	background-color:#222222;
	text-align: center;
	color:#fff;

}

.client h2 {
	color:#5e5e5e;
}
.clients p {
	padding-bottom: 40px;
}
.clients img{
	width: 200px;
	opacity: 0.6;
	cursor: pointer;
	margin: 40px 0;
	transition: all 500ms ease-in-out;
}
.clients li{
	list-style:none;
}
.clients li:hover img {
	opacity: 1;
}

/*contact*/

.contact {
	padding: 50px 0 80px;
	text-align:center;

}
.contact p {
	padding-bottom: 80px;
	color:#737373;	
}
.contact h2{
	color:#4c4c4c;
	margin: 20px 0 20px;

}

.contact .input-group {
	margin-bottom: 25px;

}

.contact .form-control {
	border-radius: 0 !important;
}
.contact span{
	border-radius: 0 !important;
}
.contact .btn{
	border-radius: 0;
	width: 100%;
	font-size: 15px;
	background-color: #f08080;
	color:#FFF;
}

.contact .btn:hover {
	background-color: #a85959;
	color:#fff !important;
}

.footer{
	padding: 30px;
	color: #cccccc;
	background-color: #222222;

}

.footer .social {
	font-size: 20px;
	height: 30px;
	width: 30px;
	text-align: center;
	padding: 5px;
	border:1px solid #cccccc;
	margin-bottom: 10px;
	margin-right: 5px;

}

.footer input {
	height: 40px;
	width: 160px;
	padding: 5px;
	border:none;
	background-color: #cccccc;
	color: #000;
}

.footer .btn{
	padding: 10px 5px 10px;
	margin:-3px 0 0 5px;
}

.apis{
	background: #222222;
	color:#fff;
}
#posi{
	padding-top: 10px;
	padding-bottom: 10px;
	border:solid 2px;
	border-top: auto;

}

#buscar{
	margin-top: 20px;
	margin-bottom: 10px;
}

#buscador {
	margin-top: 10px;
	border: solid 3px grey;
}

#historia{
	margin-top: auto;
	align-content: center; 
	text-align: center;
	font-size: 16px;
}

#comics{
	margin-top: 20%;
	text-align: center;
	font-size: 24px;
	text-align: center;
}
.tamanito{
	font-size: 30px;
	text-align: center !important;
}

#titulo{
	text-align: center;
}

#series{
	margin-top: 10%;
	text-align: center;
	font-size: 24px;

}

#textarea{
	resize: none;
}

#posi:hover {
	transition: 1s;
	transform: rotate(360deg);
	border-radius: 100%;
	-webkit -transform: rotate(360deg);
	-webkit -border-right:(50%);
}
html{
	scroll-behavior: smooth;
}

.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #b71c1c; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: 25%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading1 {
	padding-top: 20px;
	margin-left: 25px;

}







